.container {
  display: flex;
  flex-direction: column;
  flex-flow: 1;
  padding: 2rem 3rem;

  .list {
    list-style: none;
    flex-grow: 1;
    margin: 0;
    padding: 0;

    li {
      font-weight: 300;
      padding-bottom: .3rem;
    }
  }
}
