.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;

  .icon {
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .role {
      width: 100%;
      margin: 0;
      padding: 0;

      span {
        font-size: 0.8rem;
        float: right;
      }
    }
  }
}
