.container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 2rem;

  .company {
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .icon {
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .role {
      font-weight: 200;
      width: 100%;
      margin: 0;
      padding: 0;

      span {
        font-size: 1.3rem;
        float: right;
      }
    }
  }
}
