.container {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  justify-content: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}
